.calculator{
	background-color: rgba(255, 255, 255, 1);
	font-family: 'Montserrat', sans-serif;
	padding-top: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px gray;
}
.calculator_item_header{
	text-align: center;
	line-height: 1.3;
	font-weight: bold;
}
.calculator_sum{
	font-weight: 500;
	display: flex;
	justify-content: space-around;
}
.calculator_sum div{
	display: flex;
}
.calculator_p{
	padding-right: 12px;
}
.calculator_search_1{
	height: 27px;
	width: 120px;
	border-radius: 5px;
	font-weight: 500;
	background-color: rgba(196, 196, 196, 1)

}
.calculator_search_2{
	height: 27px;
	width: 120px;
	border-radius: 5px;
	font-weight: 500;
	background-color: rgba(196, 196, 196, 1)
}
.calculator_arrow{
	width: 24px;
	height: 24px;
	border-radius: 20px;
	background-color: #39A2DB;
	display: flex;
	justify-content: space-around;
}
.calculator_arrow img{
	width: 14px;

}
.calculator_info_wrapper{
	display: flex;
	justify-content: space-around;
	margin: 10px 20px;

}
.tablewrapper_1{
	text-align: left;
	padding-top: 10px;
	display: flex;
}
.tablewrapper_2{
	text-align: right;
}
.tablewrapper{
	font-weight: 500;
	padding: 0 10px; 
}
.tablewrapper_1 img{
	width: 19px;
	height: 19px;
}