.nav {
  text-align: right;
  height: 70px;
  line-height: 70px;
  background-color: #39a2db;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
}
.menu {
  margin: 0 10px 0 0 ;
  display: flex;
  justify-content: space-between;
}

.menu a {
  text-decoration: none;
  color: #fff;
  margin: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}
.menu a:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.651);
    transition: ease 0.5s;
}

@media only screen and (max-width: 768px){
  .menu {
    display: none;
  }
  .nav {
    background-color:  #fff;
  }
}

